.button-bg {
    position: absolute;
    width: 175px;
    height: 40px;
    margin: 5px;
    right: 5px;
    border: 1px solid grey;
    background-color: rgb(203, 201, 201);
    border-radius: 15px;
    cursor: pointer;
  }
  
  .button-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;    
    pointer-events: none;
  }
  
  .left-label {
    left: 11.5px;
  }
  
  .right-label {
    right: 11.5px;
  }
  
  .button-select {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 30px;
    left: 11.5px;
    top: 5px;
    border-radius: 9px;
    background-color: green;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .button-select.select {
    transform: translateX(0);
    background-color: #498F2B;
  }
  
  .button-select.delete {
    transform: translateX(72px);
    background-color: #980934;
  }