.button-bg {
    position: relative;
    width: 100px;
    height: 25px;
    margin: 5px;
    border: 1px solid grey;
    background-color: rgb(203, 201, 201);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .button-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10px;
    color: black;    
    pointer-events: none;
  }
  
  .left-label {
    left: 7.5px;
  }
  
  .right-label {
    right: 7.5px;
  }
  
  .button-select {
    position: absolute;
    width: 50px;
    height: 20px;
    top: 2.5px;
    left: 2.5px;
    border-radius: 50px;
    background-color: green;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .button-select.select {
    transform: translateX(0);
    background-color: green;
  }
  
  .button-select.delete {
    transform: translateX(45px);
    background-color: red;
  }