html {
  font-family:'Times New Roman', Times, serif;
}

.sdv-logo {
  display: block;
  max-width: 30px;
  max-height: 30px;
}

.title {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: red;
}