.map-container {
    flex: 1; /* Take up all remaining space next to Aside */
    height: 100%;
    overflow-y: auto; /* Allow vertical scroll */
    position: relative;
}

.tiled-map {
    min-height: 100vh; /* At least as tall as the screen */
    width: 100%;
    background: 
        /* Vertical Lines */
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 19px,
            rgba(0, 0, 0, 1) 20px
        ),
        /* Horizontal Lines */
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 19px,
            rgba(0, 0, 0, 1) 20px
        ),
        /* Background image at the bottom */
        var(--bg-image, url(../../images/riverlandtestmap.jpeg)) no-repeat center/cover;
}

#selection-overlay {
    position: absolute;
    pointer-events: none;
    border: 2px solid green;
    box-sizing: border-box;
    z-index: 2;
}

.selected-overlay {
    position: absolute;
    pointer-events: auto; /* So locked overlays don't interfere with hovering */
}

