.submit-button {
    position: absolute;
    width: 170px;
    height: 60px;
    top: 100px;
    margin: 5px;
    right: 5px;
    border: 3px solid #5b2b2a;
    background-color: #fa9305;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Svthin';
    font-size: 30px;
}